* {
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  color: wheat;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: rgb(168, 111, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.logo {
  width: 400px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  overflow: none;
  flex-shrink: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
a {
  text-decoration: none;
  color: wheat;
  font-size: larger;
}
button {
  background-color: rgb(168, 111, 6);
  border: none;
  color: wheat;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.first {
  background-color: rgb(1, 21, 77);
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  color: wheat;
  flex-wrap: wrap;
}
.first-left {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  overflow: none;
  flex-shrink: 1;
}
.first-right {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  overflow: none;
  flex-shrink: 1;
}
.system {
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 5px solid rgb(168, 111, 6);
}
.second {
  background-color: rgb(1, 21, 77);
  text-align: center;
}
.second h1 {
  background-color: rgb(168, 111, 6);

  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
}
.photos {
  display: flex;
  justify-content: space-around;
}
.photo-text {
  background-color: rgb(168, 111, 6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.third {
  background-color: rgb(1, 21, 77);
  text-align: center;
  color: wheat;
}
.third p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  color: wheat;
}
.model {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
}
.third h4 {
  background-color: rgb(168, 111, 6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
