* {
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  color: wheat;
  flex-wrap: wrap;
}
.body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: rgb(168, 111, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 400px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: wheat;
  font-size: larger;
}
button {
  background-color: rgb(168, 111, 6);
  border: none;
  color: wheat;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.first {
  background-color: rgb(1, 21, 77);
  padding: 50px;
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  color: wheat;
  flex-wrap: wrap;
}
.first-left {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.first-right {
  width: 600px;
  height: 400px;
  color: wheat;
  border-radius: 5px;
  background-color: aquamarine;
  margin: 10px;
  
}
.system {
width: 600px;
height: 400px;
border-radius: 5px;
color: wheat;
border: 5px solid rgb(168, 111, 6);

}
.second {
  background-color: rgb(1, 21, 77);
  text-align: center;
  color: wheat;
}
.second h1 {
  background-color: rgb(168, 111, 6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
}
.photos {
  display: flex;
  justify-content: space-around;
}
.photo-text {
  background-color: rgb(168, 111, 6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.third {
  background-color: rgb(1, 21, 77);
  text-align: center;
  color: wheat;
}
.third p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  color: wheat;
}
.model {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
}
.third h4 {
  background-color: rgb(168, 111, 6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle; border-radius: 5px;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}